<footer class="footer">
    <div class="social">
      <h5 class="footer__heading footer__brand">
        Basmed
      </h5>
      <i class="fa fa-facebook social__icon" aria-hidden="true"></i>
      <i class="fa fa-twitter social__icon" aria-hidden="true"></i>
      <i class="fa fa-globe social__icon" aria-hidden="true"></i>
      <i class="fa fa-linkedin social__icon" aria-hidden="true"></i>
    </div>

    <nav class="quick-link">
      <h5 class="footer__heading">
        Quick Links
      </h5>
      <ul class="list">
        <li class="list__item">
          <a href="" class="list__link">About Basmed</a>
        </li>
        <li class="list__item">
          <a href="" class="list__link">Services</a>
        </li>
        <li class="list__item">
          <a href="" class="list__link">Gallery</a>
        </li>
        <li class="list__item">
          <a href="" class="list__link">Restaurant</a>
        </li>
      </ul>
    </nav>

    <div class="reservations">
      <h5 class="footer__heading">
        Booking
      </h5>
      Email: info@basmed.com<br>
      Tel: (614) 000 0000<br>
      Cell: (612) 000 000
    </div>

    <div class="location">
      <h5 class="footer__heading">
        Locations
      </h5>
      <address>
        12345 Washington Ave<br>
        Columbus, OH 00000
      </address>
    </div>
</footer>
