<section class="features">
  <div class="feature">
    <div class="feature__photo feature__photo--1">
      photo
    </div>
    <div class="feature__content feature__content--1">
     <h3 class="feature__heading-3">OUR RESTURENT</h3>
     <h2 class="feature__heading-2">Dining & Drinks</h2>
    <p class="feature__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repellendus nulla ut, quae reprehenderit aperiam, similique blanditiis, laboriosam commodi odit magnam sequi atque! Accusamus dolorum magnam omnis quo unde rem?
    </p>
    <button class="btn btn--arrow btn-secondary">Learn More</button>
    </div>
  </div>

  <div class="feature">
    <div class="feature__photo feature__photo--2">
      photo
    </div>

    <div class="feature__content feature__content--2">
     <h3 class="feature__heading-3">OUR RESTURENT</h3>
     <h2 class="feature__heading-2">Dining & Drinks</h2>
    <p class="feature__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam repellendus nulla ut, quae reprehenderit aperiam, similique blanditiis, laboriosam commodi odit magnam sequi atque! Accusamus dolorum magnam omnis quo unde rem?
    </p>
    <button class="btn btn--arrow btn-secondary">Learn More</button>
    </div>
  </div>
</section>
