.features{


  .feature{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);


    &__photo{
      height: 40rem;
      background-color: red;

      &--1{
        grid-column: 1 / span 6;
        grid-row: 1 / -1;
      }
      &--2{
        grid-column: 7 / span 6;
        grid-row: 1 / -1;
      }

      @media (max-width:600px){
        display: none;
      }
    }

    &__heading-3{
      color: var(--gold-dark);
    }
    &__heading-2{
      margin-bottom: 1rem;
    }
    &__content{
      padding: 3rem;
      line-height: 5rem;
      font-size: 3rem;


      &--1{
        grid-column: 5 / -1;
        grid-row: 2 / 6;
      }
      &--2{
        grid-column: 1 / span 8;
        grid-row: 2 / span 4;
      }

      @media (max-width:1200px){
        grid-column: 5 / -1;
      }
      @media (max-width:1000px){
        grid-column: 4 / -1;
        grid-row: 2 / -1;
      }
      @media (max-width:700px){
        grid-column: 2 / -1;
        grid-row: 2 / -1;
      }
      @media (max-width:600px){
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }

      background-color: rgba(255, 255, 255, 0.746);
    }
  }
}
