.btn{
  &--primary{
  background-color: var(--gold-dark);
  }
  &--secondary{
    background-color: transparent;
    color: var(--gold-dark);
    border: thick var(--gold-light) solid;
    transition: background .3s ease;

    &:hover{
      background-color: var(--gold-dark);
      color: #fff;
    }
    }
  padding: 1rem 2.3rem;
  color: #fff;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 5px;

  &:hover{
    background-color: var(--gold-light);
  }
  &:focus{
    outline: none;
  }
}

.btn--arrow{
  position: relative;

  &::after{
    content: "\003E";
    position: absolute;
    right: .7rem;
    top: .9rem;
    transition: all .5s ease;

    @media (max-width:600px){
     content: "";
    }
  }
  &:hover::after{
    right: .3rem;
  }
}


