<ngb-carousel [showNavigationIndicators]=false>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <h1>Testim</h1>
      <img src="https://images.unsplash.com/photo-1556385600-81ca04c88cb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img">
      <h1>nial</h1>

    </div>
    <div class="carousel-caption">
      <p>&ldquo; Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ipsa non cumque obcaecati eveniet error vitae qui sint saepe! Nostrum libero a illum sit recusandae aut qui quae, dolore esse? &rdquo;</p>
      <div class="stars">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h2>User 1</h2>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <h1>Testim</h1>
      <img src="https://images.unsplash.com/photo-1566124919118-ada9c6afbddf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img">
      <h1>nial</h1>

    </div>
    <div class="carousel-caption">
      <p>&ldquo; Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ipsa non cumque obcaecati eveniet error vitae qui sint saepe! Nostrum libero a illum sit recusandae aut qui quae, dolore esse? &rdquo;</p>
      <div class="stars">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h2>User 2</h2>
    </div>
  </ng-template>
</ngb-carousel>
