<div class="container">

 <app-navigation></app-navigation>
 <app-main-slider></app-main-slider>
 <app-booking></app-booking>
 <app-about></app-about>
 <app-rooms></app-rooms>
 <app-features></app-features>
 <app-testimonial></app-testimonial>
 <app-footer></app-footer>
 <div class="test">
  <h1>header level one</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam assumenda dolorum ullam minus veniam qui consequatur quos sit, tempora deleniti officiis alias blanditiis mollitia. Nam accusantium neque tempora amet dolore!</p>
</div>
</div>


<div class="test">
  <h1>header level one</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam assumenda dolorum ullam minus veniam qui consequatur quos sit, tempora deleniti officiis alias blanditiis mollitia. Nam accusantium neque tempora amet dolore!</p>
</div>
