<section class="booking">
  <form action="" class="form">
    <div class="form__group">
      <label for="" class="form__label">Check In</label>
      <input type="text" class="form__input">
    </div>
    <div class="form__group">
      <label for="" class="form__label">Check Out</label>
      <input type="text" class="form__input">
    </div>
    <div class="form__group">
      <label for="" class="form__label">Adults</label>
      <input type="number" class="form__input">
    </div>
    <div class="form__group">
      <label for="" class="form__label">Children</label>
      <input type="number" class="form__input">
    </div>
    <div class="form__group">
      <label for="" class="form__label">Rooms</label>
      <input type="number" class="form__input">
    </div>
    <div class="form__group">
      <label for="" class="form__label">&nbsp;</label>
      <button class="mybtn mybtn--primary">Book Now</button>
    </div>
  </form>
</section>
