<section class="rooms">
  <div class="room">
    <div class="room__photo-box">
      <img src="https://images.unsplash.com/photo-1572891086295-6c1c7c476549?ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80" alt="" class="room__img room__img--1">
    </div>
    <div class="room__details">
      <h1 class="heading-1">Single Bed Room</h1>
      <h4 class="heading-4">$300 per room</h4>
    </div>

  </div>
  <div class="room">
    <div class="room__photo-box">
      <img src="https://images.unsplash.com/photo-1584959380024-e70a694af974?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="room__img room__img--2">
    </div>
    <div class="room__details">
      <h1 class="heading-1">Single Bed Room</h1>
      <h4 class="heading-4">$300 per room</h4>
    </div>

  </div>
  <div class="room">
    <div class="room__photo-box">
      <img src="https://images.unsplash.com/photo-1572891086295-6c1c7c476549?ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80" alt="" class="room__img room__img--3">
    </div>
    <div class="room__details">
      <h1 class="heading-1">Single Bed Room</h1>
      <h4 class="heading-4">$300 per room</h4>
    </div>

  </div>
</section>

