.rooms{
  margin-bottom: 8rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;

  @media(max-width:1000px){
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
  }
  @media(max-width:700px){
    grid-template-columns: repeat(1, 1fr);
  }
  @media(max-width:600px){
    padding: 0 3rem;
  }
  .room{
    cursor: pointer;

    &__photo-box{
      overflow: hidden;

    &:hover  .room__img{
      transform: scale(1.05) rotate(1deg);
    }


  }
    &__img{
      width: 100%;
      height: 300px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      transition: all .9s;


    }

  &__details{
    margin-top: -.5rem;
    padding: 1rem 0;
    text-align: center;
    background-color: gray;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
 }

